<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Places You've Been!</title>
  </head>
  <body>
    <h1>Places You've Been!</h1>

    <form action="/places" method="post">
      <label for="name">City Name: </label>
      <input id="name" name="name" type="text">
      <label for="lengthOfStay">Length of Stay: </label>
      <input id="lengthOfStay" name="lengthOfStay" type="text">
      <label for="whoWith">Who did you go with? </label>
      <input id="whoWith" name="whoWith" type="text">
      <button type="apply">Save Place</button>
    </form>

  </body>
</html>
